<h2>About Us</h2>

<br />
<ul>
    <li>To develop a prototype or a minimum viable product comprising of an inventory management system to demonstrate the integration of technologies to automate inventory management processes. </li>
   
</ul>
