@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="col-sm-4">
    <div class="form-group row">
        <label asp-for="UserID" class="control-label">User ID :</label>
        <input type="text" asp-for="UserID" class="form-control" />
        <span asp-validation-for="UserID" class="text-danger"></span>
    <
    <div class="form-group row">
        <p>Fk.</p>

