<!DOCTYPE html>
<html>
<head>
    <h>SAF11B: @User.Identity.Name</h>
</head>
<body>

    <p>Items to return:</p>

    <p>SAR-21 Assault Rifle x1</p>
    <p>Magazines x5</p>



    <p>Please head to the counter to return your items. Ensure that your item is scanned.</p>

    <form enctype="multipart/form-data" asp-controller="Loan"
          asp-action="SuccessReturn" method="post">
        <div class="form-group row">
            <div class="offset-sm-2 col-sm-3">
                <input type="submit" name="Upload" value="Submit" class="btn btn-primary" />
            </div>
        </div>
    </form>
</body>
</html>