<!DOCTYPE html>
<html>
<head>
    <h>SAF11B: @User.Identity.Name</h>
</head>
<body>


    <p>Package 1</p>
    <p>Items to Collect:</p>

    <p>SAR-21 Assault Rifle x1</p>
    <p>Magazines x5</p>



    <p>Please head to the counter to collect your items. Ensure that your item is scanned before retrieving it.</p>

</body>
</html>