<h2>SAF11B: @User.Identity.Name</h2>
<br />
<ul>
    <p>Package 1</p>
    <p>Items to Collect:</p>
    
    <li>SAR-21 Assault Rifle x1</li>
    <li>Magazines x5</li>
    <br />


    <p>Please head to the counter to collect your items. Ensure that your item is scanned before retrieving it.</p>
</ul>